<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eshop</title>
    <link rel="stylesheet" href="css/eshop.css"></head>

<body>
<div id="top">

<div id = "headerImage">
    <img src="images/Logo.png" height="381" width="324" alt="alt"/>
</div>

<nav>
<div class="dropdown">

    <button class="drop">Bookshop</button>
    <div class="dropdown-content">
        <a href="math">Mathe</a>
        <a href="#">Web Technologien</a>
        <a href="#">Programmieren</a>
    </div>

</div>
    <div class="dropdown">
    <button class="drop">Merch</button>
    <div class="dropdown-content">
        <a href="#">Shirts</a>
        <a href="#">Mugs</a>
        <a href="pullover">Hoodies</a>
    </div>
    </div>
</nav>
</div>

<footer>
<a href="index">Go Back to Main Page</a>
</footer>
</body>
</html>