<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalendarApp</title>
    <link rel="stylesheet" href="css/index.css">
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>

    
<script src="APIs/openWeatherMapApi.js"></script>

    <script>
        fetch('/getUsername')
        .then(response => {
                return response.text();
            })
        .then(response => {
                    console.log(response);
                    document.getElementById('displayUsername').innerHTML = response;
        });
    </script>

    
</head>

<body>

<section id = "info">
    <div id="weatherData">
        <img id = "icon">
        <div id = "description"></div>
        <div id = "temp"></div>
    </div>

    <div>
        <p>Logged in as:</p>
        <p id="displayUsername"></p>
    </div>

    <form id="loginForm">    
        <input style="font-size:1vw"  type="text" id="usernameLogin" placeholder="Username" required>
        <input style="font-size:1vw" type="password" id="passwordLogin" placeholder="Password" required>
        <input style="font-size:1vw"  type="submit">
    </form>
    <form action="/register" method="GET">
        <button>Register</button>
    </form>

    <form action="/settings" method="GET">
        <button style="font-size:1vw" id="settingsBtn">Settings</button>
    </form>
    <form id="logoutForm">
        <input style="font-size:1vw" type="submit" value="Logout">
    </form>
</section>

<div id = "top">
    <h1>
    <img src="images/title.png" style="max-width:100%;height:50px;"/>
    <div style="font-size:5vw" id = "logo-name">CalendarApp</div>
    <img src="images/title.png" style="max-width:100%;height:50px;"/>
</h1>
    <div id = "navigation">
        <a  style="max-width:100%;height:auto;" href = "#about-us">About us</a>
        <a  style="max-width:100%;height:auto;" href = "#tools">Tools</a>
        <a  style="max-width:100%;height:auto;" href = "news.html">News</a>
        <a  style="max-width:100%;height:auto;"href = "#impressum">Impressum</a>
    </div>

    <div id = "image">
        <img style="max-width:100%;height:auto;" loading="lazy" src="images/index_title.png" />
    </div> 
</div>

<div id = "main">
<h2>
    <section style="font-size:3vw" id = "tools">
        TOOLS
        <div id = "boxCalendar">
            <a style="font-size:3vw" class="textBox" href="calendar">Calendar</a>
            <img loading="lazy" class=responsive src="images/index_Calendar.jpg" style="max-width:10%;height:auto;" id="index_Calendar1">
        </div>
        <div id = "Pomodoro-Timer">
            <a class="textBox" style="font-size:3vw" href="pomodoro">Pomodoro-Timer</a>
            <img  loading="lazy" class=responsive src="images/index_Webshop.jpg" style="max-width:10%;height:auto;" id="index_Calendar2">
        </div>
        <div id = "boxNews">
            <a class="textBox" style="font-size:3vw" href="news"> News</a>
            <img  loading="lazy"  class=responsive src="images/news (2).jpg" style="max-width:10%;height:auto;" id="index_Calendar3">
        </div>
    </section>
</h2>

</div>
<section id = "about-us">
    <h2>ABOUT US</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
</section>

<section id = "impressum">
    <h2>IMPRESSUM</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
</section>

<div id = "footer">
    Copyright 2021 | Brilliant Mind
</div>

<script>
        function Login(event) {
            const name = document.getElementById('usernameLogin').value;
            const password = document.getElementById('passwordLogin').value;

            const data = {name, password};
            //console.log(JSON.stringify(data));
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }
            fetch('/login', options)
            .then(response => {
                console.log(response);
                return response.json();
            })
            .then(response => {
                console.log(response);
                if(response != null){
                    console.log(response.name);
                    document.getElementById('displayUsername').innerHTML = response.name;
                }
            });
            event.preventDefault();
        }
        const form = document.getElementById('loginForm');
        form.addEventListener('submit', Login);
</script>
<script>

        function Lougout(event){
            const options = {
                method: 'DELETE',
            }
            fetch('/logout', options)
            .then(document.getElementById('displayUsername').innerHTML = 'You are logged out!')
            event.preventDefault();

            //document.location.reload(true);

            /*
            .then(response => {
                return response.text();
            })
            .then(response => {
                document.getElementById('displayUsername').innerHTML = null;
            });
            event.preventDefault();*/
        }
        const form2 = document.getElementById('logoutForm');
        form2.addEventListener('submit', Lougout);
</script>

</body>

</html>
