<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <!-- Bootstrap CSS -->
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        />
    
        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
        <!-- My JS -->
        <script src="js/notes.js"></script>
    
        <!-- My CSS -->
        <link rel="stylesheet" href="css/notes.css" />
    
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/996973c893.js"></script>
    
        <!-- Google Font -->
        <link
          href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
          rel="stylesheet"
        />
    
        <title>Notes</title>
      </head>

      <body>
          <div class="container">
              <p class="text">Notes</p>
              <textarea class="form-control rounded-0" id="storageInput" rows="10"></textarea>
              <div class="buttons">
                <button  class="saveButton" onclick="save()">
                    <i id="btnicon" class="fas fa-bookmark fa-2x"></i>
                </button>
                <form action="/index" method="GET">
                    <button  class="homeButton">
                        <i id="btnicon" class="fas fa-home fa-2x"></i>
                    </button>
                </form>
            </div>
          </div>
      </body>
</html>