body {
  background-image: url("../images/homepage.png");
  font-family: Verdana;
  
}

img {
  display: block;
  margin: auto;
}

h1 {
  color: dimgray;
  background-color: #cbd8cf;
  text-align: center;
  font-family: "Tw Cen MT";
  letter-spacing: 0.4em;
  font-size: 2em;
}

input {
  border: 0;
  background: white;
  color: #c3c4c3;
  font-family: Verdana;
  letter-spacing: 7px;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3a4c3c;
  padding: 10px 40px;
  cursor: pointer;
  
}

button {
  border: 0;
  background: white;
  color: #c3c4c3;
  font-family: Verdana;
  letter-spacing: 7px;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3a4c3c;
  padding: 10px 40px;
  cursor: pointer;
  
}

input:hover {
  background-color: #cbd8cf;
}

label {
  font-family: "Tw Cen MT";
  font-size: 1em;
  letter-spacing: 7px;
  color: white;
}

h2 {
  color: white;
  text-align: center;
  font-family: "Tw Cen MT";
  letter-spacing: 0.4em;
  font-size: 2em;
}

.box {
  position: absolute;
  width: 500px;
  height: 500px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #86998c;
  text-align: center;
}

#input_field {
  border: 0;
  background: #3a4c3c;
  color: white;
  font-family: Verdana;
  letter-spacing: 7px;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3a4c3c;
  padding: 10px 40px;

  cursor: pointer;
}

label {
  font-family: "Tw Cen MT";
  font-size: 1em;
  letter-spacing: 7px;
  color: white;
}

.box input[type="Submit"],
.box input[type="Registration"],
.box #loginBtn {
  border: 0;
  background: #3a4c3c;
  color: white;
  font-family: Verdana;
  letter-spacing: 7px;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3a4c3c;
  padding: 10px 40px;

  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.box input[type="submit"]:hover,
.box #loginBtn:hover,
.box input[type="registration"]:hover {
  background: #3e8e41;
}
@media only screen and (max-width:  768px) {

  h1{
    max-width: 100%;
    text-align: center;
  }
  body {

    max-width:10%;height:auto;
  }
  
}