.buttons {
	display: flex;
	justify-content: space-between;
	max-width: 150px;
	margin: 0 auto;
	padding-top: 10px;
}

.saveButton,
.homeButton {
	color: #0b1e5e;
	border: 2px solid transparent;
	padding: 1rem;
	border-radius: 2rem;
}

.saveButton:hover,
.homeButton:hover {
	color: #0b1e5e;
	border: 2px solid #0b1e5e;
	transition: 0.3s ease;
}

p {
	text-align: center;
	font-size: 50px;
	font-family: Arial Black, sans-serif;
	color: #bae8e8;
}

body {
	background: #272343;
	font-family: Arial Black, sans-serif;
}
