body {
  background-image: url("../images/homepage.jpg");
  font-family: Verdana;
}

h1 {
  color: dimgrey;
  text-align: center;
  font-family: "Tw Cen MT";
  letter-spacing: 0.8em;
  font-size: 3em;
  margin-top: 1em;
  border-bottom-width: 3px;
  border-bottom-color: dimgray;
  border-bottom-style: solid;
  max-width: 100%;
}

h2 {
  color: dimgray;
  text-align: center;
  font-family: "Tw Cen MT";
  letter-spacing: 0.4em;
  font-size: 2em;
  max-width: 100%;
}

p {
  color: dimgray;
  text-align: center;
  font-family: Verdana;
  font-size: 0.75em;
}

.box {
  position: absolute;
  width: 500px;
  height: 550px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dbe6f5;
  text-align: center;
  max-width: 100%;
}

#input_field {
  border: 0;
  background: #3a4c3c;
  color: white;
  text-transform: uppercase;
  font-family: Verdana;
  letter-spacing: 7px;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3a4c3c;
  padding: 10px 40px;
  max-width: 100%;
  cursor: pointer;
}

label {
  font-family: "Tw Cen MT";
  font-size: 1em;
  letter-spacing: 7px;
  color: dimgray;
}

.box #regBtn,
.box input[type="Registration"] {
  border: 0;
  background: #3a4c3c;
  color: white;
  text-transform: uppercase;
  font-family: Verdana;
  letter-spacing: 7px;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3a4c3c;
  padding: 10px 40px;
  max-width: 100%;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.box #rebBtn:hover,
.box input[type="registration"]:hover {
  background: #3e8e41;
}

input {
  border: 0;
  background: white;
  color: #c3c4c3;
  text-transform: uppercase;
  font-family: Verdana;
  letter-spacing: 7px;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3a4c3c;
  padding: 10px 40px;
  cursor: pointer;
  
}

.checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
}
@media only screen and (max-width:  768px) {

  body {
    background-image: url("../images/homepage.png");

    font-family: Verdana;
  
  }
  
  h1 {
    color: dimgrey;
    text-align: center;
    font-family: "Tw Cen MT";
    letter-spacing: 0.8em;
    font-size: 3em;
    margin-top: 1em;
    border-bottom-width: 3px;
    border-bottom-color: dimgray;
    border-bottom-style: solid;
    max-width: 100%;
  }
  
  h2 {
    color: white;
    text-align: center;
    font-family: "Tw Cen MT";
    letter-spacing: 0.4em;
    font-size: 2em;
    max-width: 100%;
    font-size: 2vw;
  }
  #submit {
    font-size: 2vw;
    max-width: 100%;
  }
  p {
    color: white;
    text-align: center;
    font-family: Verdana;
    font-size: 0.75em;
  }
  
  .box {
    position: absolute;
    padding: 40px 30px 30px ;
    height: auto;
   width: auto;
    background-color: #86998c;
    text-align: center;
    max-width: 100%;
    font-size: 2vw;
  }
  
  #input_field {
    border: 0;
    background: #3a4c3c;
    color: white;
    text-transform: uppercase;
    font-family: Verdana;
    letter-spacing: 7px;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3a4c3c;
    padding: 10px 40px;
    max-width: 100%;
    font-size: 2vw;
    cursor: pointer;
  }
  
  label {
    font-family: "Tw Cen MT";
    font-size: 1em;
    letter-spacing: 7px;
    color: white;
  }
  
  .box #regBtn,
  .box input[type="Registration"] {
    background: #3a4c3c;
    color: white;
    text-transform: uppercase;
    font-family: Verdana;
    letter-spacing: 7px;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3a4c3c;
    padding: 10px 40px;
    max-width: 100%;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .box #rebBtn:hover,
  .box input[type="registration"]:hover {
    background: #3e8e41;
  }
  
  input {
    border: 0;
    background: white;
    color: #c3c4c3;
    text-transform: uppercase;
    font-family: Verdana;
    letter-spacing: 7px;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3a4c3c;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 2vw;
    
  }
  
  .checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
  }
}